import { createFileRoute } from '@tanstack/react-router'

/**
 * {{componentName}} route
 */
export const Route = createFileRoute('/{{path}}')({
  component: {{componentName}},
})

function {{componentName}}() {
  return (
    <div>
      <h1>{{componentName}}</h1>
      <p>Your route content goes here...</p>
    </div>
  )
}
